



.header {
    align-items: center;
    display: flex;
    justify-content: center;
}

#article-preview {

    align-items: center;
}

.date {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.badge {
    margin: 5px;
    background-color: #3d348b;
}

.date_published{
    background-color: #28afb0;
}

#delete {
    margin-right: 10px;
}
#edit {
    margin-right: 10px;
}
